In [ ]:
#....................EXERCISE 1.....................

In [4]:
#example
print(5/8)

#Addition of 7 and 10 
print(7+10)

0.625
17

In [ ]:
#example
print(5/8)

#Addition 
#7 and 10
print(7+10)

In [6]:
#Addition and subtraction result of 5 with 5
print(5+5)
print(5-5)

#Mulitplication
print(3*5)

#Division
print(10/2)

#Remainder of 18/7
print(18%7)

#Square of 4 
print(4**2)

10
0
15
5.0
4
16

In [13]:
#Q4 1. Principal=5000, Rate= 7%, Time=5 years
#SI=P*R*T
print(5000*.07*5)
#a. 1750.00
# total value = Principal+Simple Interest
print(5000+1750)
#b.6750

1750.0000000000002
6750

In [14]:
#Q4 2.Principal=8000, Rate=8.7%, Interest=4872 
#Time=Interest/(principal*rate)
print(4872/(8000*.087))

7.0

In [16]:
#Q4 3.Principal=3000, Time=4 years, Interest=768
# Rate= Interest/(principal*time)
print((786/(3000*4))*100)

6.550000000000001

In [22]:
#Q5 Principal=100, Rate=10%, Time=7 years
print(100*((1.1)**7))

194.87171000000012

In [ ]:
# ..................EXERCISE 2........................

In [24]:
# Q1
savings=100
print(savings)
#Q2
growth_multiplier=1.1

result=(savings*(growth_multiplier**7))
print(result)

100
194.87171000000012

In [26]:
#Q3. 
desc="compound interest"
profitable=True

In [49]:
#Q4.
A=10.7
B="This is python course"
C=False
type(A)
type(B)
type(C)

float

In [50]:
#type savings
type(savings)

int

In [51]:
#type Profitable
type(profitable)

bool

In [53]:
#type desc
type(desc)

str

In [55]:
#type growth_multiplier
type(growth_multiplier)

float

In [62]:
#Q5.
year1=(savings*growth_multiplier)
#printing type of year1 
print(type(year1))

# Sum of desc and desc in Doubledesc variable
doubledesc= desc + desc

#printing doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

In [66]:
#Q6. 
savings= 100
result= (100 *1.1 **7)
#fixed the error by using string functiion on both variables
print("I started with $"+ str(savings) +"and now have $"+ str(result)+". Awesome!")

I started with $100and now have $194.87171000000012. Awesome!

In [2]:
#Q7.
pi_string="3.1415926"
# converting pi string to pi float
pi_float= float(pi_string)

# mutliplying by 2 
double_pi=pi_float*2
print(double_pi)

6.2831852

In [38]:
#8. option 3 will show error as 2 is not converted in to a string.
#statement 1
" I can add intergers, like "+str(5)+" to strings"
# statement 2
"I said " +("hey"*2 ) +" hey"
# statement 3
"The correct answer to this multiple choice exercise is answer number"+ 2
#statement 4 
True + False

TypeError: can only concatenate str (not "int") to str

In [ ]:
#..................Exercise 3 ...................

In [15]:
#Q1 To Check whether a number is even or odd.
y=input("Enter a number :")
x=float(y)
if x%2==0:
    print("This is an even number")
else:
    print("This is an odd number")

Enter a number :25
This is an odd number

In [18]:
#Q2 Converting temperature from celsius to Fahrenheit
x= input("Enter temperature in °C :")
X=float(x)
F=((X*1.8)+32)
print(F)

Enter temperature in °C :24
75.2

In [28]:
#Q3 Area of a triangle with side 4,3 and 6

import math

A=4.0
B=3.0
C=6.0
S= (A+B+C)/2
Area= math.sqrt(S*(S-A)*(S-B)*(S-C))
print(Area)

5.332682251925386

In [33]:
#Python program to find the circumference and area of a circle with a given radius
x= input("Enter radius: ")
y=float(x)
C= (2 * math.pi * y)
A= (math.pi *(y**2))

print("Circumference is ",C)
print("Area is" ,A)

Enter radius: 5
Circumference is  31.41592653589793
Area is 78.53981633974483

In [37]:
#To check whether the given integer is a multiple of 5

m=input("Enter a number : ")
n=float(m)
if n%5==0:
    print(n, " is a Multiple of 5")
else:
    print(n, "is Not a multiple of 5")

Enter a number : 43
43.0 is Not a multiple of 5